<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    <link rel="stylesheet" href="css/nicepage.css">
    <script class="u-script" type="text/javascript" src="javascript/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="javascript/nicepage.js" defer=""></script>
</head>
<body>

    <a href="/listaUsuarios">LISTA DE USUARIOS</a>
    <% if(user) { %>
    <form action="/update" method="post">

        <input id="id" name="id" value="<%= user.id_usuarios %>" hidden>

        <div>
            <label for="user">NOMBRE</label>
            <input type="text" name="Enombre" value="<%= user.nombre %>">
        </div>

        <div>
            <label for="user">CORREO</label>
            <input type="text" name="Ecorreo" value="<%= user.correo %>">
        </div>

        <div>
            <label for="user">TELEFONO</label>
            <input type="text" name="Etel" value="<%= user.telefono %>">
        </div>

        <div>
            <label for="user">NOMBRE DE USUARIO</label>
            <input type="text" name="Eusername" value="<%= user.username %>">
        </div>

        <div>
            <label for="user">CLAVE</label>
            <input type="text" name="Epass" value="<%= user.clave %>">
        </div>

        <button type="submit">GUARDAR</button>

    </form>
    <% } %>
    <a href="/">CANCELAR</a>
    
</body>
</html>